force-app/main/default/flows/Account_Plan_Strenghts_Calculate_NPS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Average_NPS</name>
        <label>Get Average NPS</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>CollectionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Average_NPS_to_Prompt_Instruction</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>SDO_Service_Surveys_NPS_Score__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_Closed_Cases</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>average</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CollectionCalculate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Average_NPS_to_Prompt_Instruction</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Add Average NPS to Prompt Instruction</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Get_Average_NPS.outputDecimalResult}
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <description>Returns average NPS score from Closed Cases</description>
    <environments>Default</environments>
    <interviewLabel>Account Plan Strenghts | Calculate NPS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Plan Strenghts | Calculate the account&apos;s NPS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>Get_Closed_Cases</name>
        <label>Get Closed Cases</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Average_NPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SDO_Service_Surveys_NPS_Score__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <capabilityTypes>
            <name>PromptTemplateType://einstein_gpt__fieldCompletion</name>
            <capabilityName>PromptTemplateType://einstein_gpt__fieldCompletion</capabilityName>
            <inputs>
                <name>RelatedEntity</name>
                <capabilityInputName>RelatedEntity</capabilityInputName>
                <dataType>SOBJECT://AccountPlan</dataType>
                <isCollection>false</isCollection>
            </inputs>
        </capabilityTypes>
        <connector>
            <targetReference>Get_Closed_Cases</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
</Flow>
