force-app/main/default/flows/Account_Plan_Strengths_Get_Won_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_This_Opp_s_Competitor</name>
        <label>Add This Opp&apos;s Competitor</label>
        <locationX>352</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ThisOppsCompetitor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunities.SDO_Sales_Competitor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_this_Opp_s_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Next step is to create a json template to create an Opp object with Competitor and Products organized together.</description>
        <name>Add_to_ThisOppProductList</name>
        <label>Add to ThisOppProductList</label>
        <locationX>440</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ThisOppProductList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_This_Opp_s_Products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_This_Opp_s_Products</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_this_Opp_s_Products</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter this Opp&apos;s Products</label>
        <locationX>352</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>currentItem_Filter_this_Opp_s_Products</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_OpportunityLineItems</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_this_Opp_s_Products.OpportunityId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Opportunities.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_This_Opp_s_Products</targetReference>
        </connector>
    </collectionProcessors>
    <description>Gets Closed Won Opportunities with Products and Competitors for use in the Account Plan  Strengths Field Generation Prompt Template.</description>
    <environments>Default</environments>
    <interviewLabel>Account Plan Strengths | Get Won Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Plan Strengths | Get Won Opportunities</label>
    <loops>
        <name>Loop_Opportunities</name>
        <label>Loop Opportunities</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Won_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_This_Opp_s_Competitor</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_This_Opp_s_Products</name>
        <label>Loop This Opp&apos;s Products</label>
        <locationX>352</locationX>
        <locationY>782</locationY>
        <collectionReference>Filter_this_Opp_s_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_ThisOppProductList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>Get_OpportunityLineItems</name>
        <label>Get OpportunityLineItems</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>In</operator>
            <value>
                <elementReference>Extract_OpportunityIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Closed Won Opps with Products and Competitors</description>
        <name>Get_Won_Opps</name>
        <label>Get Won Opps</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_OpportunityIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HasOpportunityLineItem</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SDO_Sales_Competitor__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Won_Opps</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Draft</status>
    <transforms>
        <name>Extract_OpportunityIds</name>
        <label>Extract OpportunityIds</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_OpportunityLineItems</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Won_Opps[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_this_Opp_s_Products</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ThisOppProductList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ThisOppsCompetitor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ThisOppsProductCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
