force-app/main/default/flows/Account_Plan_Strengths_Get_Won_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Quotes_to_OpportunityLineItems</name>
        <label>Add Quotes to OpportunityLineItems</label>
        <locationX>352</locationX>
        <locationY>1406</locationY>
        <actionName>AddDoubleQuotesAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Aggregate_OppText</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>textCollection</name>
            <value>
                <elementReference>ThisOppProductList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AddDoubleQuotesAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_This_Opp_s_Competitor</name>
        <label>Add This Opp&apos;s Competitor</label>
        <locationX>352</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ThisOppsCompetitor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunities.SDO_Sales_Competitor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_this_Opp_s_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Iterable</name>
        <label>Add to Iterable</label>
        <locationX>484</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>OppIterable</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Loop_Limit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Next step is to create a json template to create an Opp object with Competitor and Products organized together.</description>
        <name>Add_to_ThisOppProductList</name>
        <label>Add to ThisOppProductList</label>
        <locationX>440</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ThisOppProductList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_This_Opp_s_Products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_This_Opp_s_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aggregate_OppText</name>
        <label>Aggregate OppText</label>
        <locationX>352</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>OpportunitiesJSONSubText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityJSONsub</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Comma_to_false</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Comma_to_false</name>
        <label>Set Comma to false</label>
        <locationX>352</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>CommaBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Write_the_JSON</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Comma_to_True</name>
        <label>Set Comma to True</label>
        <locationX>352</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>CommaBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_This_Opp_s_Competitor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Write_the_JSON</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Write the JSON</label>
        <locationX>352</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!OpportunitiesJSONWrapper}
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunities</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_this_Opp_s_Products</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter this Opp&apos;s Products</label>
        <locationX>352</locationX>
        <locationY>998</locationY>
        <assignNextValueToReference>currentItem_Filter_this_Opp_s_Products</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_OpportunityLineItems</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_this_Opp_s_Products.OpportunityId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Opportunities.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_This_Opp_s_Products</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <description>Flow Text Variables have 4,000 character limit.</description>
        <name>OppLoopLimit</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Loop_Limit</name>
        <label>Check Loop Limit</label>
        <locationX>484</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Reached Limit</defaultConnectorLabel>
        <rules>
            <name>Hasn_t_Reached_Limit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppIterable</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>OppLoopLimit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Comma_to_True</targetReference>
            </connector>
            <label>Hasn&apos;t Reached Limit</label>
        </rules>
    </decisions>
    <description>Gets Closed Won Opportunities with Products and Competitors for use in the Account Plan  Strengths Field Generation Prompt Template.</description>
    <environments>Default</environments>
    <formulas>
        <name>CommaFormula</name>
        <dataType>String</dataType>
        <expression>IF({!CommaBoolean}, &apos;,&apos;, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Account Plan Strengths | Get Won Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Plan Strengths | Get Won Opportunities</label>
    <loops>
        <name>Loop_Opportunities</name>
        <label>Loop Opportunities</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Won_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Iterable</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_This_Opp_s_Products</name>
        <label>Loop This Opp&apos;s Products</label>
        <locationX>352</locationX>
        <locationY>1106</locationY>
        <collectionReference>Filter_this_Opp_s_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_ThisOppProductList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Quotes_to_OpportunityLineItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>Get_OpportunityLineItems</name>
        <label>Get OpportunityLineItems</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>In</operator>
            <value>
                <elementReference>Extract_OpportunityIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Closed Won Opps with Products and Competitors</description>
        <name>Get_Won_Opps</name>
        <label>Get Won Opps</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_OpportunityIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HasOpportunityLineItem</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SDO_Sales_Competitor__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Won_Opps</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>JSON-formatted Opportunity, Competitor, and OpportunityLineItems for prompt template</description>
        <name>OpportunitiesJSONWrapper</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
  &quot;Opportunities&quot;: [
{!OpportunityJSONsub}
]
}</text>
    </textTemplates>
    <textTemplates>
        <name>OpportunityJSONsub</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
      &quot;OpportunityId&quot;: &quot;{!Loop_Opportunities.Id}&quot;,
      &quot;Name&quot;: &quot;{!Loop_Opportunities.Name}&quot;,
      &quot;StageName&quot;: &quot;{!Loop_Opportunities.StageName}&quot;,
      &quot;CloseDate&quot;: &quot;{!Loop_Opportunities.CloseDate}&quot;,
      &quot;CompetitorId&quot;: &quot;{!Loop_Opportunities.SDO_Sales_Competitor__c}&quot;,
      &quot;OpportunityLineItemIds&quot;: {!Add_Quotes_to_OpportunityLineItems.modifiedCollection},
       &quot;Amount&quot;: {!Loop_Opportunities.Amount},
       &quot;Age&quot;: {!Loop_Opportunities.AgeInDays}
    }{!CommaFormula}</text>
    </textTemplates>
    <transforms>
        <name>Extract_OpportunityIds</name>
        <label>Extract OpportunityIds</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_OpportunityLineItems</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Won_Opps[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CommaBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_this_Opp_s_Products</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>Opportunity Loop Counter</description>
        <name>OppIterable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The Text variable holding the individual Opportunity info.</description>
        <name>OpportunitiesJSONSubText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The &quot;wrapper&quot; text holding the individual Opportunity Info.</description>
        <name>OpportunityMasterJSONText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ThisOppProductList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ThisOppsCompetitor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ThisOppsProductCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
